<h1>Delete question "<%= @question.body %>"</h1>

<%= form_with model: @question do |form| %>
  <p>
    <%= form.label :body, 'Вопрос' %>
    <%= form.text_area :body, rows: 5 %>
  </p>

  <p><%= form.submit 'Удалить' %></p>
  <% end %>