<h3>All Users</h3>

<table>
  <thead>
    <tr>
      <th> Id </th>
      <th> Title </th>
      <th> Email </th>
      <th colspan="1">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.title %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Delete',
                user_path(user),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', tests_path %>