<p id="notice"><%= notice %></p>

<h1>All Answers</h1>

<table>
  <thead>
    <tr>
      <th> Id </th>
      <th> Body </th>
      <th> Question_id </th>
      <th colspan="2"> Action </th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td><%= answer.id %></td>
        <td><%= answer.body%> (<%= answer.correct %>) </td>
        <td><%= answer.question_id %></td>
        <td><%= link_to 'Edit', edit_answer_path(answer) %></td>
        <td><%= link_to 'Delete', answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', admin_tests_path %>
