<tr>
  <td><%= answer.id %></td>
  <td><%= answer.body%></td>
  <td><%= answer.correct %></td>
  <td><%= answer.created_at %></td>
  <td><%= link_to t('helpers.buttons.edit'), edit_admin_answer_path(answer) %></td> 
  <td><%= link_to t('helpers.buttons.delete'),
                admin_answer_path(answer),
                method: :delete,
                data: { confirm: t('admin.users.destroy.confirm') } %>
</tr>