<h1><%= t('.header') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('.email') %></th>
      <th><%= t('.text') %></th>
      <th><%= t('.created_at') %></th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.email%></td>
        <td><%= feedback.text %></td>
        <td><%= feedback.created_at %></td>
      </tr>
    <% end %>
  </tbody>

</table>
<p>
<%= link_to t('helpers.buttons.back'), admin_tests_path %>
</p>