<tr>
  <td class="align-middle">
  <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
  <%= render 'form_inline', test: test == @test ? @test : test %>
  </td> 
  <td class="align-middle"><%= test.level %></td>
  <td class="align-middle"><%= test.author.first_name %></td>
  <td class="align-middle"><%= test.created_at %></td>
  <td class="text-center">
  <% if test.publication %>
    <%= t('tests.test.published') %>
  <% else %>
    <%= t('tests.test.nopublished') %>
  <% end %>
  </td>
  <td class="align-middle"><%= link_to t('helpers.buttons.show'), admin_test_path(test) %></td>
  <td class="align-middle">
  <%= link_to t('helpers.buttons.edit'), 
              edit_admin_test_path(test),
              data: { test_id: test.id }, 
              class: 'form-inline-link' %>
  </td> 
  <td class="align-middle"><%= link_to t('helpers.buttons.delete'), 
                        admin_test_path(test), 
                        method: :delete, 
                        data: {confirm: t('admin.users.destroy.confirm')} %>
  </td>
</tr>