 
      <h1><%= t('.header') %></h1>

      <table class="table" >
        <tr>
          <th class="sort-by-title pointer">
            <%= t('helpers.label.all_tests.title') %>
            <%= octicon 'arrow-up', class: 'text-success hide' %>
            <%= octicon 'arrow-down', class: 'text-success hide' %>
          </th>
          <th><%= t('helpers.label.all_tests.level') %></th>
          <th><%= t('helpers.label.all_tests.author') %></th>
          <th><%= t('helpers.label.all_tests.created_at') %></th>
          <th colspan="3" ><%= t('helpers.label.all_tests.action') %></th>
        </tr>
        <%= render @tests%>
      </table>
      <p>
      <%= link_to t('admin.users.index.users'), admin_users_path %> |
      <%= link_to t('admin.users.index.questions'), admin_questions_path %> |
      <%= link_to t('admin.users.index.answers'), admin_answers_path %> |
      <%= link_to t('admin.gists.index.header'), admin_gists_path %> |
      <%= link_to t('admin.users.index.new'), new_admin_test_path(@test) %>
      </p>
 