<h3><%= t('.header', test: @test.title) %></h3>

<table>
  <tr>
    <th><%= t('helpers.label.show_test.id') %></th>
    <th><%= t('helpers.label.show_test.body') %></th>
    <th><%= t('helpers.label.show_test.test_id') %></th>
    <th><%= t('helpers.label.show_test.created_at') %></th>
    <th colspan="3"><%= t('helpers.label.show_test.actions') %></th>
  </tr>
  
  <%= render partial: 'admin/questions/question', collection: @test.questions %>
</table>
<p>
<%= link_to t('helpers.buttons.back'), admin_tests_path %> |
<%= link_to t('admin.tests.show.new'), new_admin_test_question_path(@test) %>
</p>