<h1><%= t('.header') %></h1>

<table>
  <tr>
    <th><%= t('.id') %></th>
    <th><%= t('.title') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.action') %></th>
  </tr>
  <%= render partial: 'tests/test', collection: @tests %>
</table>