  <div class="mt-5">
    <b>Автор -
    <%= link_to "Чистяков Александр", "/about/author/author.html", target: :blank %></b>
  </div>

<p> На дворе <%= current_year %>г. </p>

<ul>
  <li><%= link_to "О проекте", "/about/about.html", target: :blank %></li>
  
  <% if current_user != nil && !current_user.admin? %>
  <li><%= link_to t('.feedback'), new_feedback_path%></li>
  <% end %>

  <li><%= github_url("Chistyakov-AY", "ror_test-guru") %></li>
  <li><%= link_to "Учебный проект в онлайн-школе Thinknetica", "https://www.thinknetica.com", target: :blank %></li>
</ul>


