<h3> Автор - <%= link_to "Чистяков Александр", "/about/author/author.html", target: :blank %></h3>
<p> На дворе <%= current_year %>г. </p>

<ul>
  <li><%= link_to "О проекте", "about/about.html", target: :blank %></li>
  <li><%= github_url("Chistyakov-AY", "ror_test-guru") %></li>
  <li><%= link_to "Учебный проект в онлайн-школе Thinknetica", "https://www.thinknetica.com", target: :blank %></li>
</ul>


