
<% if logged_in? %>
<h3><%= link_to 'Project TestGuru', tests_path %></h3>
<p><%= link_to 'Log Out', logout_path %> |
    <%= link_to 'Create new User', signup_path %>
<p class="nav user"> Welcome, <b><%= current_user.first_name %>(<%= current_user.email %>) </b> Guru </p>
 <% else %>
 <p> <%= link_to 'Sing Up', signup_path %> </p>
 <% end %>
